@using System.ComponentModel
@using Blazor.IndexedDB
@using Microsoft.AspNetCore.Blazor.Components
@using Microsoft.JSInterop
@inject IndexedDBManager DbManager
<div>
    <p><b>status:</b> @Message</p>
</div>
<div class="d-flex flex-column align-items-start">
    <button class="btn btn-outline-primary " onclick="@OpenDatabase">Open Database</button>
    <div class="d-flex, flex-column">
        <div>
            <label>First Name</label> <input id="firstName" type="text" bind="@FirstName" />
        </div>
        <div>
            <label>Last Name</label> <input id="lastName" type="text" bind="@LastName" />
        </div>
        <button onclick="@TestAddRecord">Add Record</button>
    </div>


   
    
</div>

@functions
{
    string Message { get; set; }

    string FirstName { get; set; }
    string LastName { get; set; }


    protected async void OpenDatabase()
    {
        Message = await DbManager.OpenDb();
        StateHasChanged();
    }

    protected async void TestAddRecord()
    {
        var person = new { FirstName,  LastName };
        var newRecord = new SingleRecord<object>
        {
            Storename = DbManager.Stores[0].Name,
            Data = person
        };
        var result = await DbManager.AddRecord(newRecord);
        Message = result;
        LastName = "";
        FirstName = "";
        StateHasChanged();
    }




}
